html,
body {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}
.banner {
  height: 20vw;
  border: 5px black solid;
}
.head {
  background-image: url('head.png');
  background-size: cover;
  height: 20vw;
}
section {
  display: flex;
  flex-direction: column;
  margin: 1vw;
}
section a {
  background-color: #fff;
  display: flex;
  text-decoration: none;
  color: black;
  margin-bottom: 2vw;
}
section a .post {
  flex: none;
  height: 25vw;
  width: 36vw;
  background-image: url('post.png');
  background-size: cover;
  margin-right: 5vw;
}
section a .info {
  display: flex;
  flex-direction: column;
}
section a .info .name {
  margin-top: 2vw;
  font-size: 6vw;
  font-weight: bold;
}
section a .info .detail {
  font-size: 2vw;
  color: #104947;
  margin-top: 2vw;
}
